* {
    font-family: 'Raleway',sans-serif;
}

.container-fluid, .sidebar {
    display: table;
    height: 100%;
    padding-left: 0px;
}

.header {
    background-color: #eb9316;
    display: table-row;
}

.search-box {
    padding-top: 25px;
}

.result {
    display: table-row;
    height: 50px;
    line-height: 50px;
    background-color: lightgrey;
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;

}

.last-row {
    background-color: lightgrey;
    display: table-row;
    height: 100%;
}

body, html {
    height:100%; 
    padding:0; 
    margin:0;
}

.open-profile {
    cursor: pointer;
}

.main {
    text-align: center;
    display: table;
    width: 100%;
}

.name, .contact, .experience, .availability {
    display: table-row;
    width: 100%;
}

.days {
    background-color: lightgrey;
    margin: 0 auto;
}

.days td {
    font-size: 20px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    text-align: center;
    width: 140px;
    padding: 5px 5px; 
}