* {
    font-family: 'Raleway',sans-serif;
}

.body {
    padding: 0px;
}

.Q_label:hover, .area_label:hover {
    cursor: default;
}

#title_text {
    color: white;
    font-size: 50px;
    font-weight: 30px;
    position: relative;
    top: 340px;
    left: 40px; 
     //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;   
}

#title_spec {
    color: #89c389;
    position: relative;
    top: 315px;
    left: 110px;
    font-size: 50px;
    //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;    
}

#index {
    background-image: url(../IMG/DST_home.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

#page_logo {
    position: absolute;
    top: -50px;
}

#main_cont {
    height: 100%;
}

#logo {
    position: absolute;
    top: 400px;
    left: -50px; 
    height: 400px;  
}

#c_text {
    font-size: 100px;
    font-family: 'Raleway',sans-serif;
    text-align: center;
}

#quote {
    position: relative;
    font-family: 'Raleway',sans-serif;
    text-align: center;
    font-style: bold; 
    font-size: 20px;
    top: 600px;
}

#profile_img {
    width: 100%;
    height: 100%;
    
}

#start_button {
    position: relative;
    top: 250px;
    width: 200px;
}

#description_txt {
    font-family: 'Raleway',sans-serif;
    font-size: 30px;
    text-align: center;

}

.form-control {
    width: 600px;
    height: 50px;
    font-family: 'Raleway',sans-serif;
}

#Q1_label {
    text-align: center;
    font-family: 'Raleway',sans-serif;
}

.Q_label {
    font-size: 20px;
    text-align: center;
    position: relative;
    left: 0px;
    font-family: 'Raleway',sans-serif;
}

.helper_text {
    position: relative;
    left: 0px;
    font-family: 'Raleway',sans-serif;
    font-size: 16px;
    font-style: italic;
}

#progress_holder {
    text-align: center;
    font-size: 30px;
}

#progress {
    margin-top: 15px;
}

#back_button,#next_button {
    margin-right: 30px;
    margin-left: 30px;
    width: 150px;
    font-family: 'Raleway',sans-serif;
}

.option_button {
    width: 115px;
    font-family: 'Raleway',sans-serif;
}

#upload_button {
    background-color: silver;
    font-family: 'Raleway',sans-serif;
}

#construction_drop {
    position: relative;
    left: 200px;
}

#transition {
    /*background-image: url(../IMG/transition.png);
    background-repeat: no-repeat;*/
}

#congrats_img {
    width: 100%;
    height: 100%;
}

#t_buttons {
    position: relative;
    font-family: 'Raleway',sans-serif;
    top: -100px
}

.radio, .checkbox {
    padding-left: 0px;
    font-family: 'Raleway',sans-serif;
}

#construction_menu, #office_menu, #warehouse_menu, #sales_menu, #automotive_menu, #caregiving_menu, #culinary_menu, #financial_menu {
    display: none;
}

.Resume_Upload_Label {
    font-size: 20px;
    text-align: center;
    position: relative;
    font-family: 'Raleway',sans-serif;
}

.area_label {
    font-size: 20px;
    text-align: left;
    position: relative;
    font-family: 'Raleway',sans-serif;
    line-height: 30px;
}

#profile_button {
    position: relative;
    font-family: 'Raleway',sans-serif;
}

#status_button {
    position: relative;
    font-family: 'Raleway',sans-serif;
}

#container_button {
    width: 700px;
    display: block;
    position: relative;
    top: 440px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway',sans-serif;
}

.growth_image {
    position: absolute;
    left: -100px;
}

#growth_image1 {
    position: absolute;
}
#growth_image2 {
    position: absolute;
    top: 500px;

}
#growth_image3 {
    position: absolute;
    top: 780px;

}
#growth_image4 {
    position: absolute;
    top: 1150px;

}
#growth_image5 {
    position: absolute;
    top: 1740px;

}

.inline_table {
    display: inline;
}

#story_paragraph {
    text-align: left;
}

#story_text {
    margin-bottom: 10px;
}

.story_helper_text {
    font-size: 16px;
    font-style: italic;
    position: relative;
}

* {
  .border-radius(0);
}

#field {
    margin-bottom:20px;
}

#appends input[id^='field'] {
    height: 34px;
    width: 150px;
}

#save_button {
    position: fixed;
}

#b1 {
}

#job_field {
    margin-bottom:20px;
}

#appends input[id^='job_field'] {
    position: relative;
    height: 34px;
    width: 350px;
}

#add_employer_cont {
    position: relative;
    left: 132px;
}

#employer1, #employer2, #employer3, #employer4 {
    display: none;
}

#appends input[id^='job_field'] {



}

#min_job_button1, #min_job_button2,#min_job_button3,#min_job_button4 {
    display: none;
}

#t_logo {
    height: 400px;
    position: relative;
    top: -50px;
}

#transition_text {
    position: relative;
    top: -150px;
    font-size: 30px;
    text-align: left;
}

#final_logo {
    height: 400px;
    position: absolute;
    display: block;
}

#congrats_text {
    position: relative;
    top: 300px; 
    font-size: 60px; 
    font-family: 'Raleway',sans-serif;
}

#final_background {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.4;
}
/*#final_landing {
    background-image: url(../IMG/background-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
*/

.cat_caret {
    position: relative;
    left: 3px;
    top: -5px;
}

#tree_progress_img {
    position: relative;
    top: -40px;
    height: 90px;
    width: 100%;
}

.madlib {
    display: inline;
    color: green;
    font-family: 'Architects Daughter', cursive;
}
