* {
	font-family: 'Raleway',sans-serif;
}

.content {
	height: 750px;
	margin-top: 40px;
	margin-bottom: 40px;
	-webkit-box-shadow: 6px 6px 31px 9px rgba(173,173,173,0.72);
	-moz-box-shadow: 6px 6px 31px 9px rgba(173,173,173,0.72);
	box-shadow: 6px 6px 31px 9px rgba(173,173,173,0.72);
}

.image {
	margin-top: 10px;
}

.icon {
	padding: 10px 50px;
}

.divider {
	height: 60px;
}

.divider-2 {
	height: 10px;
}

.days {
	background-color: lightgrey;
}

.days td {
	font-size: 20px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	text-align: center;
	width: 140px;
	padding: 5px 5px; 
}

.skills {
	background-color: lightgrey;
}

.skills td {
	border-left: 1px solid white;
	border-right: 1px solid white;
	font-size: 20px;
	text-align: center;
	width: 120px;
}

.skills .star {
	font-size: 40px;
}

.title {
	margin-bottom: 15px;
}

.header {
	height: 80px;
}

.name {
	text-align: left;
}

.link {
	padding: 7px;
}

h1 {
	float: left;
}

h5 {
	float: right;
}

.button {
	padding-top: 10px;
}

.story {
	font-size: 18px;
}